.rack {
  display: grid;
  grid-template-columns: repeat(7, 30px);
  grid-template-rows: 30px;
  grid-gap: 3px;
  padding: 20px;
  background-color: antiquewhite;
}

.rack__tile-wrapper {
  border-radius: 1px;
  background-color: rgba(0, 0, 0, 0.5);
}
